/* Reset or Normalize CSS */
/* Add your reset or normalize CSS here */

/* Custom CSS for About Us page */
.about-us-container {
  display: -webkit-box; /* For iOS and Safari */
  display: -ms-flexbox; /* For Internet Explorer */
  display: flex;
  -webkit-box-pack: justify; /* For iOS and Safari */
  -ms-flex-pack: justify; /* For Internet Explorer */
  justify-content: space-between;
  -webkit-box-align: center; /* For iOS and Safari */
  -ms-flex-align: center; /* For Internet Explorer */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.about-text {
  -webkit-box-flex: 1; /* For iOS and Safari */
  -ms-flex: 1; /* For Internet Explorer */
  flex: 1;
  padding-right: 50px;
  font-size: 20px;
  line-height: 1.5;
}

.about-text h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 20px;
}

.about-image {
  -webkit-box-flex: 1; /* For iOS and Safari */
  -ms-flex: 1; /* For Internet Explorer */
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
}
